
:root {
  --custom-dark: #222222;
}

.dark-mode input {
  border: 1px solid white;
  background: var(--bs-dark);
}

.dark-mode input:hover {
  background: white;
  color: black;
}



.dark-mode textarea, .dark-mode input {
  background: var(--custom-dark);
  border: 1px solid white;
  color: white
}

article p {
  text-indent: 2em;
}

.main-content {
  max-width: 720px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.dark-mode {
  color: white;
  background: #222222;
  --box-shadow: 0px 0px 15px 3px grey;
  transition: color 1.5s ease-in-out;
  transition: background 1.5s ease-in-out;

  transition: all 1s linear;
}

.light-mode {
  color: black;
  background: white;
  --box-shadow: 3px 3px 6px 3px #cccccc;
  transition: var(--box-shadow) 1.5s ease-in-out;
  transition: color 1.5s ease-in-out;
  transition: background 1.5s ease-in-out;

  transition: all 1s linear;
}

.navbar {
  margin-bottom: 8px;
}

.mode-box-shadow {
  box-shadow: var(--box-shadow);
}

.title {
  font-size: 35px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

separator {
  border: 1px solid black;
  display: block;
  width: 100%;
  color: red;
}
