<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nick's Playground - Home</title>
    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script id="dependencies"></script>
    <script> $(function(){ $("#dependencies").load("../dependencies.php"); }); </script>
  </head>
  <body>

    <script> $(function(){ $("#header").load("../pieces/header.php"); }); </script>
    <div id="header"></div>


    <script> includeFile </script>


    <button onclick="console.log(foo())">foo!</button>

<div class="main-content mode-box-shadow">
      
      <div class="article">
        <p>
          This is the start of a new page!!!
        </p>
      </div>
      
    </div>

</body>
<style>

</style>
<script>

</script>
</html>
