<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nick's Playground - Untitled</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- import jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- import all core scripts, including includeFile -->
    <script src="/src/main.js"></script>
    
    <script>includeFile("/dependencies.php", "dependencies", "script", "head") </script>

    <!-- import file specific scripts -->
    <script> </script>

    <!-- import file specific style -->
    <link  rel="stylesheet">

  </head>
  <body>
    
    <script>includeFile("/pieces/header.php", "header")</script>

    <div class="main-content mode-box-shadow">
      
      <article>
        <div class="title">An awesome title</div>
        <p>
          This is the start of a new page!!!
        </p>
      </article>
      
    </div>

    <script>includeFile("/pieces/footer.php", "footer")</script>

  </body>
  <style>

  </style>
  <script>

  </script>
</html>
